body {
    padding-top: 70px;
    overflow-x: hidden;
}
h2{
    margin-bottom: 20px;
}
h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #80d110;
    margin: 10px auto;
}

h3 {
    font-size: 1.5rem;
}

.navbar {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 1px 1px #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar>.container, .navbar>.container-fluid{
    justify-content: space-between;
}

.

.nav-item.active {
    color:#80d110;
    font-weight: bold;
}

.nav-link  {
    color: #666;
}

nav a:hover {
    color: #80d110;
}

nav .fa-instagram {
    color: #8a3ab9;
}

nav .fa-facebook {
    color: #3b5998ff;
}

nav .fa-youtube {
    color: #ff0000;
}

.jumbotron {
    text-shadow: 1px 1px 1px #000;;
    padding: 120px;
    background-image: url(img/tlo4.jpg);
    background-size: cover;
    color:#fff;
}

.jumbotron .btn{
    background-color: #80d110;
    color:#fff;
    border-radius: 50px;
    text-shadow: 1px 1px 1px #000;;
    padding:10px 30px;
    box-shadow: 2px  2px 12px #666; 
    transition-duration: .3s;
}

.jumbotron .btn:hover{
     background-color: #6db20d;
}

section {
    padding: 50px 0;
    text-align: center;
}

section p {
    color: #333;
}

.benefits ul {
    padding: 0;
   
}

.benefits li {
    padding: 4px;
     
    font-size: 1rem;
    list-style: none;
    text-align: center;
    color: #666;
}

.benefits li span {
    font-size: 2.5rem;
    color: #62a800;
    margin: 20px auto;
    width: 70px;
    text-align: center;
    border-radius: 100%;
    
}

.subscribe {
    background-image: url(img/tlo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 180px 0;
}

.subscribe input {
    border: 1px solid #fff;
    ;
    padding: 10px 20px;
    margin: 30px auto;
    width: 50%;
    background-color: transparent;
    color: #fff;
}

.subscribe input::placeholder {
    color: #ddd;
}

.subscribe .btn {
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #80d110;
    transition-duration: .3s;
}

.subscribe .btn:hover{
    background-color: #6db20d;
}

.about h2::after {
    margin-left: 0;
}

.about .container {
    background-image: url("img/tlo2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;

}

.about .col-sm {
    max-width: 50%;
}

.effect {
    color: #fff;
    background-image: url(img/tlo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px;
    position: relative;

}

.effect h2 {
    position: relative;
    z-index: 2;

}

.black {
    position: absolute;
    background-color: rgba(0, 21, 69, 0.8);
    z-index: -;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.effect a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #80d110;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 5px #262626;
    position: relative;
    z-index: 2;
    transition-duration: .3s;
}

.effect a:hover{
    background-color: #6db20d;
    text-decoration: none;
}

.contakt{
    border-top:1px solid #ddd;;
}

.contakt li{
    list-style: none;
    margin-left:-40px;
}

.contakt span{
    font-size: 2.5rem;
    margin: 20px;
}




footer{
     border-top: 1px solid #ddd;
    padding: 20px;
}

footer p{
    margin: 0;
}


.border-left{
    border-left: 1px solid #ddd;
}

.cooperation .col-8 hr, .investment hr{
   margin: 40px 0;
}

.cooperation .col-lg-4, .investment .col-lg-4 , .about-as .col-lg-4, .contakt-me .col-lg-4{
border-left: 1px solid #ddd;
    
    
}

.investment img{
    display: block;
}

.investment li{
    list-style: none;
    padding: 0;
    margin-top: 20px;

}


.investment li::before{

   font-style: normal;
   margin:0px 0px 0px 10px;
        font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f058";
  color:#6bb900;
    margin: 10px;
    margin-left: -25px;
 
}


.about-as .media img{
    border-radius: 0%;
}

.contakt-me .email{
    padding:10px 20px;
    
    border: 0;
    background-color: #eee;
}

.contakt-me .send{
background-color: #63a00d;
    border:0;
    border-radius: 0 50px 50px 0;
    padding: 10px 50px;
    color:#fff;
    transition-duration: .3s;
    cursor: pointer;
}
.contakt-me .send:hover{
    background-color: #80d110;
}

@media (max-width: 992px) { 
.cooperation .col-lg-4, .investment .col-lg-4, .about-as .col-lg-4, .contakt-me .col-lg-4{
border-left: 0px solid #fff;

    padding-top: 100px;
}
    
 @media (max-width: 770px){
     .about-as .media {
         display: block;
         text-align: center
     }
     
     .about-as .media img{
         margin: 20px;
     }
}
