body {
    padding-top: 70px;
    overflow-x: hidden;
}

h1{
    color:#ffffff;
}

h2 {
    margin-bottom: 20px;
}

h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #80d110;
    margin: 10px auto;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color:#395c09;
    margin-top: 50px;
}

a{
    color:#6db20d;
}

a:hover{
    color:#4c7c0a;
}

.navbar {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 1px 1px #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar > .container,
.navbar > .container-fluid {
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #75bc14;
}

.nav-link {
    color: #666;
}

.d-inline{
    flex-direction: row;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #80d110;
}

nav .fa-instagram {
    color: #8a3ab9;
}

nav .fa-facebook {
    color: #3b5998ff;
}

.nav-link{
    padding: 10px;
 
}

nav .fa-youtube {
    color: #ff0000;
}
.navbar-light .navbar-toggler{
    border: 0;
}
.navbar-brand{
    padding-left: 15px;
}

.jumbotron {
    text-shadow: 1px 1px 1px #000;
    ;
    padding: 120px 0;
    background-image: url(img/tlo4.jpg);
    background-size: cover;
    color: #fff;
    border-radius: 0;
}

.jumbotron .btn {
    background-color: #80d110;
    color: #fff;
    border-radius: 50px;
    text-shadow: 1px 1px 1px #000;
    ;
    padding: 10px 30px;
    box-shadow: 2px 2px 12px #666;
    transition-duration: .3s;
}

.jumbotron .btn:hover {
    background-color: #6db20d;
}

section {
    padding: 50px 0;
    text-align: center;
}

section p {
    color: #333;
}

.benefits ul {
    padding: 0;

}

.benefits li {
    padding: 4px;

    font-size: 1rem;
    list-style: none;
    text-align: center;
    color: #666;
}

.benefits li span {
    font-size: 2.5rem;
    color: #62a800;
    margin: 40px auto;
    margin-bottom: 0px;
    width: 70px;
    text-align: center;
}
.subscribe {
    background-image: url(img/tlo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 180px 0;
}

.subscribe input {
    border: 1px solid #fff;
    ;
    padding: 10px 20px;
    margin: 30px auto;
    width: 50%;
    background-color: transparent;
    color: #fff;
}

.subscribe input::placeholder {
    color: #ddd;
}

.subscribe .btn {
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #80d110;
    transition-duration: .3s;
}

.subscribe .btn:hover {
    background-color: #6db20d;
}

.about h2::after {
    margin-left: 0;
}

.about .container {
    background-image: url("img/tlo2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;

}

.about .col-sm {
    max-width: 50%;
    text-align: left;
}

.effect {
    color: #fff;
    background-image: url(img/tlo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
    position: relative;

}

.effect h2 {
    position: relative;
    z-index: 2;

}

.black {
    position: absolute;
    background-color: rgba(0, 21, 69, 0.8);
    z-index: -;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.effect a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #80d110;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 5px #262626;
    position: relative;
    z-index: 2;
    transition-duration: .3s;
}

.effect a:hover {
    background-color: #6db20d;
    text-decoration: none;
}

.contakt {
padding-top: 100px;
    border-top: 1px solid #ddd;
    
}

.contakt ul{
    padding: 0;
}
.contakt li {
    list-style: none;
    padding: 0;
    border-right: 1px solid #ddd;
    margin: 40px auto;
    
}

.contakt li:nth-child(4){
    border-right: 0;
}

.contakt span {
    font-size: 1.5rem;
    margin: 20px;
    color: #426c09;
}

.small{
    background-color: #e2fcc0;
    padding-top: 0;
    margin-top: 100px;
}
.small ul{
    
}

.small li{
    
    margin: 0;
    margin-bottom: -66px;   
}



footer {
    border-top: 1px solid #ddd;
    padding: 20px;
}

footer p {
    margin: 0;
}


.border-left {
    border-left: 1px solid #ddd;
}

.cooperation .col-9 hr,
.investment hr {
    margin: 40px 0;
}

.cooperation .col-lg-3,
.investment .col-lg-3,
.about-as .col-lg-3,
.contakt-me .col-lg-3,
.efeckts .col-lg-3 {
    border-left: 1px solid #ddd;


}

.margin-3 {
    margin-bottom: 3rem;
}

.efeckts .col-lg-9 {
    font-size: 0.8rem;
    padding: 50px;
}

.investment img {
    display: block;
}

.investment li {
    list-style: none;
    padding: 0;
    margin-top: 20px;

}


.investment li::before {

    font-style: normal;
    margin: 0px 0px 0px 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14a";
    color: #6bb900;
    margin: 10px;
    margin-left: -25px;

}


.about-as .media img {
    border-radius: 50%;
    margin-bottom: 15px;
}
.about-as .media p{display: inline-block;}

.contakt-me .email {
    padding: 10px 20px;

    border: 0;
    background-color: #eee;
}

.contakt-me .send {
    background-color: #63a00d;
    border: 0;
    border-radius: 0 50px 50px 0;
    padding: 10px 50px;
    color: #fff;
    transition-duration: .3s;
    cursor: pointer;
}

.contakt-me .send:hover {
    background-color: #80d110;
}

.gallery ul {
    padding: 0;
    display: inline-flex;
}

.gallery li {
    min-width: 49%;

    align-content: flex-start;
    margin: 20px auto;
    list-style: none;
}

.register{
    display: inline-block;
    text-align: center;
    margin: 40px 0;
    font-size: 1.6rem;
    background-color: #6db20d;
    padding: 15px 70px;
    font-weight: bold;
    color:#fff;
    transition-duration: .3s;
}
.img-fluid{
 max-width: 100%;  
    
}
.register:hover{
    color:#fff;
    text-decoration: none;
    background-color: #59910a;
}

@media (max-width: 992px) {

    .cooperation .col-lg-3,
    .investment .col-lg-3,
    .about-as .col-lg-3,
    .contakt-me .col-lg-3,
    .efeckts .col-lg-3 {
        border-left: 0px solid #fff;

        padding-top: 100px;
    }

    .about .container {
        background-image: none;
    }

    .about .col-sm {
        max-width: 100%;
        text-align: center;
    }

    .about h2::after {
        margin-left: auto;
    }
    .contakt li {
        padding: 0;
        border: 0;
    }
    
    .small li{
        padding: 30px;
    }
}

@media (max-width: 770px) {
    .about-as .media {
        display: block;
       
    }

    .about-as .media img {
border-radius: 0px;
    }
     
    .contakt-me .email{
        margin-top: 20px;
        display: block;
    }
    .contakt-me .send{
        border-radius: 0;
        display: block;
        margin-top: 20px;
    }

}